modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 22193
externalPort = 3000

[[ports]]
localPort = 22194
externalPort = 3002

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_YXB0LXdvbWJhdC03MS5jbGVyay5hY2NvdW50cy5kZXYk"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_cUggGykanFuLTpLqzJsmpGncACI"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_rRpAIpAQrWjypIKKBTZruIMmSnX"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_ddicVmfPWohqAMYOtDOesLFAgyD"
REVENUECAT_PROJECT_ID = "proj469a8b38"
REVENUECAT_TEST_STORE_APP_ID = "app1f4c6174cc"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app2d494f9f9f"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app406dcbd3b1"
